@model ChallengeBoard.Web.Models.Challenge



    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Challenge</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Text)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Points)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Points)
                @Html.ValidationMessageFor(model => model.Points)
            </div>
            @Html.DropDownListFor(x => x.Category, Model.Categories)
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

