@using ChallengeBoard.Web.Models.Extensions
@using ChallengeBoard.Web.Models.ViewModels
@model BoardViewModel

@{
    int maxPoints = 0;
}


<div class="cards" id="Cards">
    <div class="item intro">
        <div id="user-hide">@Model.CurrentUser.UserName</div>
        
        <div class="intro-progress" id="ProgressBarContainer"></div>
        <h1 class="intro-name">@Model.CurrentUser.Name</h1>
        <strong class="intro-score" id="intro-score">@Model.TotalPoints</strong>
        
        <div class="intro-awards">
            <span class="intro-award icon icon-health" aria-hidden="true"><span id="bonus-level-one" class="@(Model.TotalPoints >= 100 ? "fulfilled" : string.Empty) card-icon-ring"></span></span>
            <span class="intro-award icon icon-health" aria-hidden="true"><span id="bonus-level-two" class="@(Model.TotalPoints >= 350 ? "fulfilled" : string.Empty) card-icon-ring"></span></span>
            <span class="intro-award icon icon-health" aria-hidden="true"><span id="bonus-level-three" class="@(Model.TotalPoints >= 500 ? "fulfilled" : string.Empty) card-icon-ring"></span></span>    
            <span class="intro-award icon icon-health" aria-hidden="true"><span id="bonus-level-four" class="@(Model.TotalPoints >= 700 ? "fulfilled" : string.Empty) card-icon-ring"></span></span>    
            <span class="intro-award icon icon-health" aria-hidden="true"><span id="bonus-level-five" class="@(Model.TotalPoints >= 1000 ? "fulfilled" : string.Empty) card-icon-ring"></span></span>
        </div>        
    </div>      
    @foreach (var challenge in Model.Challenges) {
        
        {
            maxPoints += challenge.Points;
        }
        <div class="item card@(challenge.IsComplete(Model.CurrentUser) ? " card--complete" : string.Empty)@(challenge.Single ? " card--single" : string.Empty)" role="button" data-id="@challenge.Id" data-points="@challenge.Points">
            <div class="card-background"></div>
            <div class="card-body">
                <div class="card-icon">
                    <div class="card-icon-inner">
                        <span class="icon icon-health" aria-hidden="true"></span>
                        <span class="icon icon-check" aria-hidden="true"></span>                        
                    </div>
                    <span class="card-icon-ring"></span>
                </div>
                <strong class="card-heading">@challenge.Text</strong>
                @if (!challenge.Single) {
                    <strong class="card-count"><span class="card-count--subtr">-</span> <span class="card-count--number">@challenge.NumberOfCompletions(Model.CurrentUser)</span> <span class="card-count--add">+</span></strong>
                }
                <footer class="card-meta">@challenge.Points poäng</footer>
            </div>
        </div>
    }
    <div id="max-score">@maxPoints</div>
    <div><a href="#">History</a></div>
</div>

